body {
    background-color: rgba(255, 134, 89, 1);
    font-family: 'Francois One', sans-serif;;
    line-height: 4em;
    color: white;
    /*text-align: center;*/
}

#mDay {
    position: relative;
    font-size: 35pt;
    
    /*http://www.css3generator.in/text-shadow.html*/
    text-shadow: rgb(71, 71, 71) 3px 5px 2px;
    left: 15%;
    top: 300px;
}


#mDay:hover {
    top: 0;
    font-size: 80pt;
    line-height: 4em;
}